# PACKAGES - CONVEX
# Deployment used by `npx convex dev`
CONVEX_DEPLOYMENT=dev:your-deployment # team: team_name, project: project_name
CONVEX_URL=https://your-deployment.convex.cloud
CONVEX_SITE_URL=https://your-deployment.convex.site
CLERK_ISSUER_URL=https://your-clerk-domain.clerk.accounts.dev

# PACKAGES - AUTH
NEXT_PUBLIC_CONVEX_URL=https://your-deployment.convex.cloud

# APPS (WEB)
NEXT_PUBLIC_CONVEX_URL=https://your-deployment.convex.cloud
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_your_publishable_key
CLERK_SECRET_KEY=sk_test_your_secret_key
NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in
NEXT_PUBLIC_CLERK_AFTER_SIGN_IN_URL=/

# CLOUD - CONVEX
CLERK_ISSUER_URL=https://your-clerk-domain.clerk.accounts.dev
CLERK_WEBHOOK_SECRET=whsec_your_webhook_secret

# CLOUD - VERCEL
